body {
  background-color: #fafafa;
  margin: 0;
}

button {
  cursor: pointer;
  padding: unset;
  border: unset;
  background: unset;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

nav {
  position: fixed;
  display: grid;
  top: 0;
  background-color: #fff;
  height: 3.3em;
  line-height: 3.3em;
  width: 100%;
  border-bottom: 0.1em solid #dbdbdb;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
}

.logo {
  text-decoration: none;
}

.logo > img {
  vertical-align: middle;
}

.search {
  background: #fafafa;
  height: 2em;
  margin: 0.8em;
  width: 15.5em;
  border: 0.07em solid #dbdbdb;
  border-radius: 0.2em;
}

.search::placeholder {
  text-align: center;
  color: #808080;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.nav-links i {
  transform: scale(1.6);
  color: #252525;
}

 

@media (min-width:760px) {
  .nav-links {
    width: fit-content;
    left: 0;
  }
.nav-links button {
  margin: 0px 1em;

}
}
.container {
  padding: 0 15%;
  position: relative
}

.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3em 0 2em 5em;
  border-bottom: 0.2px solid #dbdbdb;
  margin-top: 5em;
  margin-bottom: 2em;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1.7em;
  column-gap: 1em;
}

#profilePhotoInput {
  display: none;
}

.profile-photo {
  background: #000;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-top: 0.5em;
}


.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.profile-photo img:hover {
  opacity: 0.7;
}

.profile-info .name {
  font-size: 1.7em;
  color: #545454;
  margin-bottom: 0;
}

.profile-info .about {
  font-size: 1.2em;
  color: #545454;
}

.profile-info button {
  background-color: #0095f6;
  color: #fff;
  font-size: 1.1em;
  width: 6em;
  height: 2em;
}

.profile-info button:hover {
  background-color: #0081d6;
}

.edit-bio-form input {
  width: 50%;
  height: 2em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-bio-form button {
  margin: 1em 1em 0 0;
}

.edit-bio-form .cancel-button {
  background-color: #890000;
}

#addPhotoInput {
  display: none;
}

.add-photo-button {
  transform: scale(3);
  position: fixed;
  bottom: 5em;
  right: 4em;
  cursor: pointer;
}



.item {
  height: 17.5em;
  width: 100%;
  background: #000;
  cursor: pointer;
  margin: 0 auto;
}

.item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item:hover .item-image {
  opacity: 0.7;
}

.delete-button {
  opacity: 0;
  position: absolute;
  margin-left: -5em;
  margin-top: 17em;
  padding: 0.1em 0.3em;
  background-color: #890000;
  color: #fff;
  border: 1px solid #c8c8c8;
  transform: scale(1.5);
}

.delete-button:hover {
  background-color: #670000;
  color: #fff;
}

.item:hover .delete-button {
  opacity: 1;
}

.modalBackground {
  position: absolute;
  z-index: 1000;
  top: 0;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 10em;
  margin-left: 10em;
  
}

button .remove {
  margin: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;

}

.footer .yes {
  background-color: #00ff00;
  padding: 10px;
}

.footer .no {
  background-color: #e94848;
  padding: 10px;
}

.title {
  padding: 20px;
}

.no-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

#deleteAll {
 
  background-color: #890000;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  font-size: 12px;
  padding: 2px;
  width: auto;
  transform: scale(1.5);
  position: fixed;
  bottom: 3em;
  right: 3em;
  font-weight: bold;
}

@media screen and (max-width: 750px) {

  nav {
    display: flex;
    flex-direction: column;
    position: inherit;
  }


  .bio{
    display: flex;
    position: center;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
  
    
  }

  .search {
    display: flex;
    align-items: center;
    margin-left: 4em;
    
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-photo {
    width: 5em;
    height: 5em;
    margin-top: 3em;
    margin-right: 2em;
  }

  .delete-button {
    align-items: center;
    opacity: 0;
    position: absolute;
    margin-left: -6em;
    margin-top: 17em;
    font-weight: bold;
  
  }

  .add-photo-button {
    transform: scale(3);
    position: fixed;
    bottom: 5em;
    right: 2em;
    cursor: pointer;
  }

  .modalBackground {
    position: fixed;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: -2em;
  
  }

  .no-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20% 0 30% 0;
    font-weight: bold;
    font-size: 2rem;
  }

  #deleteAll {
 
    transform: scale(1.5);
    position: fixed;
    width: 7%;
    bottom: 2rem;
    right: 2em;
    font-size: 10px;
    font-weight: bold;
  }
}

@media screen and (max-width: 550px) {
  #deleteAll {
 
    transform: scale(1.5);
    position: fixed;
    width: 7%;
    bottom: 2rem;
    right: 3em;
    font-size: 8px;
    font-weight: bold;
  }
}